@model MyWebApp.Models.HomeViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Home Page - MyWebApp</title>
</head>
<body>
    <h1>@Model.Message</h1>
    <p>This is a sample application using ASP.NET Core MVC.</p>
</body>
</html>
